NEXT_PUBLIC_SUPABASE_URL=https://qxyiifphpsthrwxplafd.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_lQq-QuNyFi8461RcvoLS4Q_t3Qzib2i
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InF4eWlpZnBocHN0aHJ3eHBsYWZkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTQ0MDI3NCwiZXhwIjoyMDg3MDE2Mjc0fQ.c2-LsmzjC0QQEf9W2WTHCUqBQ7S3e82yC2pSxcO7rWA
API_SECRET_KEY=your-api-secret-key-here
